  .displayed {
     display: block;
     margin-left: auto;
     margin-right: auto; 
     position:relative;
     top:0;
     bottom:0;
     margin:auto;
 
   }
   .myback{
      background-image: url("img/fondo.jpg");
     background-size: cover;
     text-align: center;
     margin-bottom: 0px;
     margin-top: 0px;
     background-color: black;
     margin-bottom:0px;
   }
 
 .myicon{
     position:absolute;
     right: 0;
     margin-right: 5%; 
     margin-top: 1%;
     height:10%;
 }
 
 .bioleft{
 float: left;
 width: 80%;
 }
 .bioright{
 float: right;
 width: 100%;
 }
 
 .myimages{
    width: 120px;
    height: 120px;
 }
 .title{
    text-shadow: 2px 2px 1px #222; 
    color:white; 
    margin-top: 80px;
 }
 .biog{
     position: absolute;
     margin-bottom: 40%;
 }
  footer {
     width: 100%;
     background-color: black;
     text-align: center;
     clear: both;
     position: fixed;
     z-index: 1000000;
     height: 20%;
     top: 90%;
 }
 .reds{
     text-align: center;
     height: 70%;
     width: 80%;
     margin-top: 1px;
     z-index: 1000010;
     position: relative;
     margin-bottom: 10px;
 }